# === Build artifacts ===
*.exe

# === Logs and local data ===
logs/
.VSCodeCounter/

# === CMake (if used) ===
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# === Test folders ===
test/

# temp
docs/